.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgb(73, 27, 27);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 600px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.games {
  margin: 10px;
  padding: 5px;
  width: 200px;
  border: rgb(73, 27, 27) solid 4px;
  border-radius: 20px;
}

p {
  font-weight: lighter;
}
